<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="catalog-ubbs" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="https://opac.lbs-braunschweig.gbv.de/DB=1/" />
    <property name="srudbUrl" value="opac-de-84" />
    <property name="unapiUrl" value="opac-de-84" />
    <property name="xsl" value="pica2mods.xsl" />
  </bean>

  <bean id="catalog-gvk" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="https://kxp.k10plus.de/DB=2.1/" />
    <property name="srudbUrl" value="k10plus" />
    <property name="unapiUrl" value="k10plus" />
    <property name="xsl" value="pica2mods_ubr.xsl" />
  </bean>

  <bean id="catalog-ubr" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="https://opac.lbs-rostock.gbv.de/DB=1/" />
    <property name="srudbUrl" value="k10plus" />
    <property name="unapiUrl" value="k10plus" />
    <property name="xsl" value="pica2mods.xsl" />
  </bean>

  <bean id="catalog-ilm" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="http://opac.lbs-ilmenau.gbv.de/DB=1.3/" />
    <property name="srudbUrl" value="k10plus" />
    <property name="unapiUrl" value="k10plus" />
    <property name="xsl" value="pica2mods.xsl" />
  </bean>

  <bean id="catalog-ikar" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="https://kxp.k10plus.de/DB=1.68/" />
    <property name="srudbUrl" value="ikar" />
    <property name="unapiUrl" value="ikar" />
    <property name="xsl" value="pica2mods_ikar.xs" />
  </bean>

  <bean id="catalog-vd18" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="https://kxp.k10plus.de/DB=1.65/" />
    <property name="srudbUrl" value="vd18" />
    <property name="unapiUrl" value="vd18" />
    <property name="xsl" value="pica2mods.xsl" />
  </bean>

  <bean id="catalog-erf" class="org.mycore.pica2mods.Catalog">
    <property name="url" value="http://opac.uni-erfurt.de/DB=7/LNG=DU/" />
    <property name="srudbUrl" value="opac-de-3204" />
    <property name="unapiUrl" value="opac-de-3204" />
    <property name="xsl" value="pica2mods.xsl" />
  </bean>
    
  <bean id="catalogs" class="java.util.HashMap">
    <constructor-arg>
      <map key-type="java.lang.String" value-type="org.mycore.pica2mods.Catalog">
        <entry key="ubbs" value-ref="catalog-ubbs" />
        <entry key="gvk" value-ref="catalog-gvk" />
        <entry key="ubr" value-ref="catalog-ubr" />
        <entry key="ilm" value-ref="catalog-ilm" />
        <entry key="ikar" value-ref="catalog-ikar" />
        <entry key="vd18" value-ref="catalog-vd18" />
        <entry key="erf" value-ref="catalog-erf" />
      </map>
    </constructor-arg>
  </bean>
</beans>
